@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2 style="text-align:center;">Giới thiệu về cửa hàng sách </h2>
    <div class="content-about">
        Với mục tiêu tạo ra những trải nghiệm mua sắm trực tuyến tuyệt vời, Tiki.vn luôn nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ.
        <br />
        Khách hàng có thể yên tâm khi đặt mua sản phẩm tại website, chúng tôi sẽ xử lý đơn hàng cho bạn một cách nhanh chóng nhất. Giao hàng tận tay khách hàng.
        <br />

    </div>
</div>
<script>
    setAdminCurrentUrl('@Url.Action("About", "Home")', '@Url.Action("About", "Home")');
</script>