@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>Giới thiệu về cửa hàng sách </h2>
</div>
<script>
    setAdminCurrentUrl('@Url.Action("About", "Home")', '@Url.Action("About", "Home")');
</script>