@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>Thông tin liên hệ</h2>
    <div class="content-contact">
        Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau: <br />

        Liên lạc qua điện thoại: 1900 6035 <br />
        Liên lạc qua email: Truy cập support.sachhay.vn <br />
        Fanpage của SachHay: http://facebook.com/tiki.vn <br />

    </div>
    <center>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.774634439122!2d105.7809444144075!3d21.04170159271338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454cb495867b3%3A0x61533b0afb0250c2!2zTmjDoCBTw6FjaCBRdXnhur90IELDrG5o!5e0!3m2!1svi!2s!4v1553787911180" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </center>
</div>