@using BookStore2019.Models
@using ValuesObject
@model List<OTinTuc>
@{
    
}
<div class="container">
    <div class="news">
        <div class="col-12 col-md-9">
            <div class="new-box">
                <div class="new-img">
                    <a href="#">
                        <img src="@Url.Content("")" alt="Alternate Text" class="img-fluid"/>
                    </a>
                </div>
                <div class="new-summary">
                    <a href="#">
                        <div class="summary">

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <h2>Tin nổi bật</h2>
            <div class="new-hot">
                <div class="new-box">
                    <div class="new-img">
                        <a href="#">
                            <img src="@Url.Content("")" alt="Alternate Text" class="img-fluid" />
                        </a>
                    </div>
                    <div class="new-summary">
                        <a href="#">
                            <div class="summary">

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>